logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG

spring:
  jpa:
    hibernate:
      ddl-auto: update

#  ai:
#    vectorstore:
#      pgvector:
#        initialize-schema: true
